Source: knmap
Section: net
Priority: extra
Maintainer: Ryan Kavanagh <ryanakca@kubuntu.org>
Uploaders: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7.0.50~),
 pkg-kde-tools,
 libtool,
 automake,
 autoconf,
 autotools-dev,
 kdelibs4-dev,
 docbook2x,
 docbook
Homepage: http://sourceforge.net/projects/knmap
Standards-Version: 3.8.3
Vcs-Git: git://svn.debian.org/git/pkg-kde/kde-extras/knmap/
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-extras/knmap.git/

Package: knmap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nmap
Recommends: knmap-docs
Description: KDE interface to nmap, the Network Mapper
 Knmap is a KDE-based interface to the 'nmap' facility available at
 http://www.insecure.org/nmap.
 .
 The main Knmap window provides for the entry of nmap options and the display of
 nmap-generated output.
 .
 This program is a complete re-write of one by the same name written by
 Alexandre Sagala. The last version of that program was 0.9 which was released
 on 2003-03-09 and targeted the KDE 2.2 and QT 2.3 environments.  Unfortunately
 it does not compile on today's KDE / QT environments.
 .
 Nmap ("Network Mapper") is a utility for network exploration or security
 auditing. It supports ping scanning (determine which hosts are up), many port
 scanning techniques, version detection, and TCP/IP fingerprinting.

Package: knmap-docs
Section: doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 knmap (>= ${source:Version})
Replaces: knmap (<< 2.1-4) 
Description: KDE interface to nmap, the Network Mapper — manual
 This package contains the DocBook manual and associated icons for Knmap, a KDE
 interface to nmap, the Network Mapper. See the 'knmap' package's description
 for more details.
