#!/usr/bin/make -f

%:
	dh $@ --with kde

override_dh_auto_configure:
	# regenerating files to build app
	libtoolize --copy --force
	cp -f /usr/share/aclocal/libtool.m4 admin/libtool.m4.in
	$(MAKE) -f Makefile.cvs
	dh_auto_configure

override_dh_auto_build:
	dh_auto_build
	docbook2x-man debian/manpages/knmap.1.xml

override_dh_auto_install:
	dh_auto_install
	rm -rf debian/tmp/usr/share/applnk

override_dh_auto_clean:
	dh_auto_clean
	# Remove our manpage
	rm -f knmap.1
	# removing files not cleaned by upstream
	rm -f configure
	rm -f doc/en/Makefile.in
	rm -f src/Makefile.in
	rm -f Makefile.in
	rm -f subdirs
	rm -f aclocal.m4
	rm -f config.h.in
	rm -f acinclude.m4
	rm -f po/Makefile.in
	rm -f admin/ltmain.sh
	rm -f admin/libtool.m4.in
	rm -f doc/Makefile.in
